/* reset styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
/* common stles */
.container {
  max-width: 1200px;
  margin: auto;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 5px;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
}
/* navbar styles */
.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-li-parent {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
}
.nav-li-parent li {
  color: #575757;
}
/* hero styles */
.banner {
  text-align: center;
  background-image:
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-parent h1 {
  color: #ffffff;
  font-size: 5rem;
  padding-top: 130px;
}
.hero-parent p {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 250px;
  padding: 16px 200px;
}
.hero-parent button {
  margin-bottom: 80px;
  font-size: 1.5rem;
}
/* speakers styles */
.speakers-parent h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 80px;
}
.speakers-cards-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 50px 0 170px 0;
}

.speaker-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
}
.speaker-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.speaker-card h4 {
  color: #2563eb;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 5px 20px;
  margin-top: 20px;
}
.speaker-card h3 {
  color: #0d1b2a;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 5px 20px;
}
.speaker-card p {
  color: #575757;
  font-size: 0.9rem;
  padding: 5px 20px;
  margin-bottom: 20px;
}
